.section-hero{
    margin: 12px 0;
}
.swiper{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-wrapper{
    display: flex;
    box-sizing: content-box;
    position: relative;
    width: 100%;
    height: 100%;
}
.section-hero .swiper-slide {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    animation: slide 16s infinite;
}
.section-hero .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1200 / 457;
    object-fit: cover;
    border-radius: 12px;
}
.section-hero img{
    border-radius: 12px;
}
.img-support{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 12px 0 20px;
    gap: 12px;
}
.section-collection{
    background-color: var(--color-secondary);
    border-radius: 12px;
    color: white;
}
.section-collection__header--title{
    display: flex;
    gap: 5px;
    font-size: 30px;
    font-weight: 700;
    padding: 30px 20px;
}
.swiper-collection-product {
    --swiper-navigation-color: #000;
    --swiper-navigation-size: 20px;
    font-weight: 600;
}

.swiper-collection-product .swiper-button-next,
.swiper-collection-product .swiper-button-prev {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    top: 50%;
    margin-top: -30px;
    
}
.swiper-collection-product .swiper-button-next:hover,
.swiper-collection-product .swiper-button-prev:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3); 
}

.swiper-collection-product .swiper-button-prev {
    left: -15px;
}

.swiper-collection-product .swiper-button-next {
    right: -15px;
}

.swiper-collection-product .swiper-button-next::after,
.swiper-collection-product .swiper-button-prev::after {
    font-size: 14px;
}
.swiper-collection-product .swiper-button-next::after {
    position: relative;
    left: -5px;
}
.swiper-collection-product .swiper-button-prev::after{
    position: relative;
    right: -5px;
}
.sale-support{
    display: block;
    font-size: 10px;
}
.light-animation{
    padding: 8px 10px; 
    background-color: var(--color-primary); 
    border-radius: 4px; 
    font-size: 16px; 
    width: 15px; 
    height: 18px;
    text-align: center;
    animation: bounce 1s infinite;
}
@keyframes bounce{
    0%, 100%{
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50%{
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}
.section-collection .swiper{
    margin: 15px 10px;
    padding-bottom: 20px;
}
.section-collection .swiper-slide:hover img,
.section-category .swiper-slide:hover img{
    animation: moveUp .5s ease forwards;
}
@keyframes moveUp{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}
.p-item{
    padding: 10px 10px 12px;
    background: #fff;
    border: 1px solid #dadada;
    border-radius: 4px;
}
.p-image img{
    width: 100%;
    margin: 34px 0;
    height: auto;
    aspect-ratio: 205 / 138;
    object-fit: cover;
    display: block;
    border-radius: 4px;
}
.p-name{
    font-size: 14px;
    line-height: 17px;
    min-height: 34px;
    margin: 10px 0;
    color: black;
    font-weight: 500;
}
.p-name:hover {
    color: var(--color-primary);
    transition: .4s;
}
.line-clamp-2{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.p-item .p-price{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p-price-wrapper .p-price-sale{
    color: #e40000;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}
.p-price-wrapper .p-price-market{
    display: inline-flex;
    font-size: 13px;
    line-height: 16px;
    color: #9a9a9a;
    margin-top: 2px;
}
.p-price .p-price-off{
    min-width: 38px;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    padding: 0 6px;
    background-color: #e40000;
    color: #fff;
    border-radius: 4px;
}
.p-item .p-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}
.p-item .p-buy{
    border-radius: 12px;
    overflow: hidden;
    min-width: 129px;
    min-height: 24px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: white;
    background-image: linear-gradient(to left,transparent 50%, #263b96 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s;
}
.p-item .p-buy:hover {
    background-position: left bottom;
    color: white;
}

.p-item .p-buy-inner{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    padding-right: 10px;
}
.p-item .p-buy-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: white;
    background-color: #263b96;
    border-radius: 50%;
}
.p-item .p-status{
    padding: 0 7px;
    background-color: #d7fce8;
    line-height: 20px;
    font-weight: 500;
    font-size: 10px;
    color: #00653b;
    border-radius: 14px;
}
.category-box{
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin: 22px 0;
}

.header-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding-right: 12px;
}
.header-category h2 {
    position: relative;
    padding-right: 52px;
    overflow: hidden;
}
.header-category h2 span{
    display: inline-block;
    line-height: 27px;
    font-weight: 700;
    padding: 14px 12px 13px;
    background-color: var(--color-primary);
    font-size: 22px;
    color: white;
}
.header-category h2 span::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 54px;
    background-image: url(../Logo/ttgshop-static-icon-category-polygon-1.png);
}

.header-category ul{
    display: flex;
    gap: 8px;
    padding-top: 4px;
}
.header-category ul li a{
    line-height: 32px;
    font-size: 13px;
    padding: 0 8px;
    background-color: rgb(244 244 244);
    border-radius: 4px;
    display: inline-block;
    font-weight: 500;
}
.header-category ul li a:hover{
    background-color: var(--color-primary);
    color: white;
}
.header-category a{
    font-size: 13px;
    font-weight: 600;
    padding-top: 4px;
    color: rgb(0 65 71);
}
.header-category a i{
    font-size: 12px;
}
.header-category a:hover{
    color: var(--color-primary);
}
.product-category{
    padding: 12px 12px 15px;
}

@media screen and (max-width: 1199px){
    .img-support{
        display: none;
    }
    .content{
        margin-top: 125px;
    }
    .section-hero img{
        border-radius: 0 !important;
    }
    .header-category ul{
        display: none;
    }
    .header-category h2 span{
        font-size: 18px;
    }
}