.category-main{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin: 12px 0;
}
.category-filter{
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    width: 260px;
}
.category-filter__heading{
    padding: 12px 12px 0;
}
.category-filter__heading h2{
    text-align: center;
    line-height: 15px;
    font-weight: 700;
    font-size: 13px;
    padding: 9px 10px 8px;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    border-width: 1px;
}
.header-filter{
    line-height: 17px;
    font-weight: 700;
    font-size: 14px;
    padding: 12px;
    border-bottom-style: solid;
    border-bottom-color: rgb(214 214 214);
    border-bottom-width: 1px;
}
.category-filter__child ul{
    line-height: 16px;
    font-weight: 500;
    font-size: 13px;
}
.category-filter__child ul li{
    margin: 0 12px;
}
.category-filter__child ul li:not(:first-child){
    border-top-width: 1px;
    border-top-style: dashed;
    border-color: rgb(224, 224, 224);
}
.category-filter__child ul li i{
    display: flex;
    width: 16px;
    height: 16px;
    text-align: center;
    align-items: center;
}
.category-filter__child ul li a{
    padding: 12px 0;
    display: inline-flex;
}
.hover-color:hover{
    color: var(--color-primary);
}
.filter-products, .price-products{
    line-height: 16px;
    font-weight: 500;
    font-size: 13px;
    padding: 12px;
}
.category-filter li:not(:first-child){
    margin-top: 8px;
}
.category-filter li label{
    vertical-align: top;
    gap: 4px;
    cursor: pointer;
    display: inline-flex;
}
.category-filter li label:hover{
    color: var(--color-primary);
}
.category-filter li label input{
    accent-color: var(--color-primary);
    width: 15px;
    height: 15px;
}
.parts-categories{
    padding: 4px 0;
}
.parts-categories__filter{
    padding: 8px 12px;
}
.parts-categories__filter--title{
    line-height: 16px;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 12px;
}
.category-products{
    padding: 15px 12px;
    background-color: white;
    border-radius: 4px;
    flex: 1 1 0%;
}
.category-sort{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    align-items: center;
}
.sotting-product{
    font-weight: 500;
    padding: 0 5px;
    border-width: 1px;
    border-color: rgb(225 225 225);
    border-radius: 4px;
    height: 32px;
    font-weight: 500;
}
.category-products__list{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 12px;
}
.category-products__list .no-products-available{
    text-align: center;
    color: rgb(220 38 38);
    font-weight: 700;
    font-size: 18px;
    padding: 70px 0;
    grid-column: 1/-1;
}
.category-products__paging{
    text-align: center;
    margin-top: 16px;
}
.paging-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px 6px 0;
    color: #000;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none;
    text-transform: capitalize;
    width: 32px;
    height: 32px;
    border: 1px solid #c8c8c8;
    border-radius: 2px;
}
.paging-link.active{
    color: white;
    background-color: var(--color-primary);
    border: none;
}
@media screen and (max-width: 1199px){
    .category-filter{
        display: none;
    }
    .category-products__list{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 12px;
    }
}
@media screen and (max-width: 768px){
    .category-products__list{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 12px;
    }
}